USE [master]
GO
/****** Object:  Database [CategoriaDB]    Script Date: 31/08/2026 22:18:37 ******/
CREATE DATABASE [CategoriaDB]
GO

CREATE LOGIN [usuario_categoria]
WITH PASSWORD = '1234',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [CategoriaDB]
GO
/****** Object:  User [usuario_categoria]    Script Date: 31/08/2026 22:18:37 ******/
CREATE USER [usuario_categoria] FOR LOGIN [usuario_categoria] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuario_categoria]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 31/08/2026 22:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Sedán', N'Vehículos de 4 puertas para uso familiar o ejecutivo', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'SUV', N'Vehículos utilitarios deportivos y todoterreno', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Camioneta', N'Vehículos de carga y trabajo pesado (Pick-up)', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
USE [master]
GO
