USE [master]
GO
/****** Object:  Database [VehiculoDB]    Script Date: 31/08/2026 22:09:38 ******/
CREATE DATABASE [VehiculoDB]
GO

CREATE LOGIN [usuario_vehiculo]
WITH PASSWORD = '1234',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [VehiculoDB]
GO
/****** Object:  User [usuario_vehiculo]    Script Date: 31/08/2026 22:09:38 ******/
CREATE USER [usuario_vehiculo] FOR LOGIN [usuario_vehiculo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuario_vehiculo]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 31/08/2026 22:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Marca] [nvarchar](100) NOT NULL,
	[Modelo] [nvarchar](100) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (1, 1, N'Toyota', N'Corolla', CAST(24500.00 AS Decimal(18, 2)), 10, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (2, 1, N'Hyundai', N'Elantra', CAST(22000.00 AS Decimal(18, 2)), 8, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (3, 2, N'Chevrolet', N'Tracker', CAST(23990.00 AS Decimal(18, 2)), 15, 1)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [Estado]
GO
USE [master]
GO
